body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.full-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #272d2d;
}

.content {
  flex: 1;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  background-color: white;
}

header {
  background: #030404;
  box-shadow: 2px 2px 5px #14B770;
  color: #14B770 !important;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 0.6rem 0;
}
header .header-button {
  background-color: #14B770;
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #edf5fc !important;
  margin: 0 0.3rem;
}
header input {
  width: 50vw;
  padding: 0.6rem;
  font-size: 0.8rem;
  background: #333b3b;
  border: none;
}
header input:focus {
  background: #627171;
  color: #edf5fc;
  border: none;
  box-shadow: none;
  outline: none;
}

footer {
  background: #14B770;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #edf5fc;
}

.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.8rem 0;
  background-color: #cac9cb;
  border-bottom: 1px solid #b8c5d6;
  width: 100%;
}
.profile-info .picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 0.4rem solid #14B770;
  display: flex;
  align-items: center;
}
.profile-info .picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-info .identity {
  width: 50%;
}
.profile-info .identity h1 {
  color: #14B770;
  font-weight: 300;
  font-size: 2.1rem;
  margin: 0;
}
.profile-info .identity h3 {
  color: #272d2d;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0;
}

.profile-details {
  padding: 0.8rem;
  display: flex;
}
.profile-details .half {
  width: 50%;
}
.profile-details .half section {
  background-color: #fff;
  margin: 1rem;
  box-shadow: 2px 2px 5px #b8c5d6;
}
.profile-details .half section .section-content {
  font-size: 0.9rem;
  padding: 1rem;
  margin: 0;
  color: #272d2d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.profile-details .half section h4 {
  margin: 0;
  padding: 1rem;
  background: #14B770;
  color: #edf5fc;
}

.profile-picture-resumed {
  display: flex;
  max-width: 100px;
  max-height: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.2rem;
}
.profile-picture-resumed a img {
  width: 100%;
}
.profile-picture-resumed a p {
  position: relative;
  top: -3rem;
  text-align: center;
}

.game-picture-resumed {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.3rem 0;
}
.game-picture-resumed a {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.game-picture-resumed a img {
  width: 80px;
}
.game-picture-resumed a .resumed-info {
  width: calc(100% - 90px);
}
.game-picture-resumed a .resumed-info h5 {
  color: #14B770;
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

.evaluation {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.evaluation .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.evaluation .footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.evaluation .footer .info {
  padding: 0.5rem 1rem;
}
.evaluation .footer .info h5, .evaluation .footer .info p {
  margin: 0;
}
.evaluation .footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.15rem solid #14B770;
}

.game-sinopse, .game-evals {
  padding: 3rem 2rem;
}

.results .profiles, .results .games {
  width: 750px;
}

.button {
  padding: 0.8rem;
  background: #14B770;
  color: #edf5fc;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.3rem;
}
.button:hover {
  background: #0f8954;
}

/*# sourceMappingURL=index.css.map */
